.center_box{
  background-color: white;
  border-radius: 30px 150px 30px 150px;
  width: 33vw;
  height: 800px;
  margin: 0px auto 0px auto;
  border: 5px inset bisque;
}


.navigation{
	width: 50px;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: white;
  z-index: 1;
}

.portrait{
  background-color: white;
     //background-image: url("../img/profile.png");
    background-image: url("http://img0.etsystatic.com/000/0/6525182/il_570xN.345773300.jpg");
    background-size: auto 100%;
    height: 200px;
    width: 200px;
    margin: 95px auto -70px auto;
    border-radius: 100px;
    // border: 9px solid black;
    position: relative;

  }

  .center_box_container{
    position: relative;
  }

  .about-text{
    padding: 10px 15px 10px 15px;
    height: 100px;
    width: 100%;
  }


//for the animation

img {
  display: block;
  width: 100%;
}

.container-scene {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
}

.scene {
  padding: 0;
  margin: 0;
}


.expand-width {
  width: 100%;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 0.15;
}


.layer:nth-child(2) {
  opacity: 0.30;
}


.layer:nth-child(3) {
  opacity: 0.45;
}


.layer:nth-child(4) {
  opacity: 0.60;
}


.layer:nth-child(5) {
  opacity: 0.75;
}

.layer:nth-child(6) {
  opacity: 0.90;
}

.selection-ring{
  background-color: blue;
}

#name{
  height: 100px;
}


[class*="selection-ring"] {
  border: 3px solid #F5AD07;
  background-color:#F5AD07;
  -webkit-border-radius: 30px;
  height: 50px;
  width: 50px;
  position: relative;
  left: -35px;
  top: -26px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0;
  &:hover {

    -webkit-animation: 0;

    position: relative;
    left: -35px;
    top: -26px;
    background-color:#F5AD07;
    opacity: 3.0;
  }
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}





.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
  &:before,
  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }

  &:before {
    bottom: 100%;
    border-bottom: 86.60px solid #64C7CC;
  }


  &:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #64C7CC;
  }


}

.selection-ring-2{
  border: 5px solid #CAA57C;
  background-color:#CAA57C;
  top: -150px;
  left: 118px;
  &:hover {
    top: -150px;
    left: 118px;
    background-color:#CAA57C;
  }
}


.selection-ring-3{
  border: 5px solid #EF3B27;
  background-color:#EF3B27;
  top: -146px;
  left: 257px;
  &:hover {
    top: -146px;
    left: 257px;
    background-color:#EF3B27;
      // border: 3px solid #999;
    }
  }

  .selection-ring-4{
    border: 5px solid #028D6C;
    background-color:#028D6C;
    top: -42px;
    left: 257px;
    &:hover {

     top: -42px;
     left: 257px;
     background-color:#028D6C;
      // border: 3px solid #999;
    }
  }


  .selection-ring-5{
    border: 5px solid #350547;
    background-color:#350547;
    top: -38px;
    left: 118px;
    &:hover {

      top: -38px;
      left: 118px;
      background-color:#350547;
      // border: 3px solid #999;
    }
  }


  .selection-ring-6{
    border: 5px solid #B3CB27;
    background-color:#B3CB27;
    top: -159px;
    // left: 257px;
    &:hover {

      top: -159px;
    // left: 257px;
    background-color:#B3CB27;
      // border: 3px solid #999;
    }
  }

  .skills-text{
    font-size: 50px;
    text-align: center;
  }
