//sm
@media screen and (max-width: 732px) {
	.center_box{
		width: 92%;
		border-radius: 0px 0px 100px 100px;
		height: 700px;
	}

	.navigation{
		top: 0;
		left: 0;	
		width: 100%;
		height: 40px;	
	}

	.portrait{
		    // background-size: auto 100%;
    height: 165px;
    width: 165px;
    left: 50px;
    top: 23px;
	}



	  .hexagon {
  position: relative;
    width: 150px;
    height: 86.60px;
    left: -77px;
    margin: 43.30px 0;
&:before,
&:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

&:before {
  bottom: 100%;
  border-bottom: 43.30px solid #64C7CC;
}

&:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #64C7CC;
}




}

}

// @media all and (orientation:landscape) {
//   Style adjustments for landscape mode goes here
//   // .center_box{
//   // 	height: 100px;
//   // }
// }
//md	
@media screen and (max-width: 768px){

}

//lg	
@media screen and (max-width: 1024px){

}


//xl	
@media screen and (max-width: 1280px){

}

