
<div class="portrait" data-balloon="What's up!" data-balloon-pos="top" data-balloon-length="small">
</div>


<div class = "center_box">
	<div class="pure-g">
		<div class="pure-u-1-4" data-balloon="Make sure to checkout my other pages to learn more! this has more text than it should" data-balloon-pos="up"  data-balloon-length="fit">
			<h1 id="name">Title</h1>
		</div>
		<div class="pure-u-1">
			<p class="about-text">Text a book or other written or printed work, regarded in terms of its content rather than its physical form.
        "a text that explores pain and grief"
        synonyms:	book, work, written work, printed work, document
        "a text that explores pain and grief"
        2.
        the main body of a book or other piece of writing, as distinct from other material such as notes, appendices, and illustrations.
        "the pictures are clear and relate well to the text"
        synonyms:	words, wording, writing; Mor
      </p>
    </div>

    <div id="container-scene" class="container-scene">
      <div id="scene" class="scene border">
        <div class="layer hexagon" data-depth="1.00">
          <!--Center text of hexagon-->
          <p class="skills-text">Skills</p>
          <div class ="selection-ring-1"  data-balloon="HTML!" data-balloon-pos="left"></div>
          <div class ="selection-ring-2"data-balloon="CSS!" data-balloon-pos="left"></div>
          <div class ="selection-ring-3" data-balloon="JAVA!" data-balloon-pos="left"></div>
          <div class ="selection-ring-4" data-balloon="C!" data-balloon-pos="left"></div>
          <div class ="selection-ring-5" data-balloon="MIPS" data-balloon-pos="left"></div>
          <div class ="selection-ring-6" data-balloon="JAVASCRIPT!" data-balloon-pos="left"></div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{assets}}/js/parallax.js"></script>
<script src="{{assets}}/js/shards.js"></script>
<script src="{{assets}}/js/profile.js"></script>

  {{!-- 
	C
	MIPS
	Java
	HTML
	CSS
	Javascript
  --}}